<<<<<<< HEAD
=======
{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

>>>>>>> 2d931e68c57763503d08e51ae049fffae506123b
<div class=" card card-body mt-3">
  <form action="/posts" method="post">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
      <label for="content">Information</label>
      <textarea class="form-control" name="content"></textarea>
    </div>
<<<<<<< HEAD
    <button type="submit" class="btn btn-dark">Soumettre</button>
=======
    <button type="submit" class="btn btn-primary">Soumettre</button>
>>>>>>> 2d931e68c57763503d08e51ae049fffae506123b
  </form>
</div>